In [1]:
print("Hello, world!")

Hello, world!

In [1]:
print(1 + 2)

3

In [ ]:
print(9 - 5)

In [2]:
print(((1 + 3) * (9 - 2) / 2) ** 2)

196.0

In [ ]:
# Multiply 3 by 2  COMENTARIO
print(3 * 2)

In [4]:
# Create a variable called test_var and give it a value of 4+5
test_var = 4 + 5
test = 3

# Print the value of test_var
print(test_var + test)

12

In [5]:
# Set the value of a new variable to 3
my_var = 3

# Print the value assigned to my_var
print(my_var)

# Change the value of the variable to 100
my_var = 100

# Print the new value assigned to my_var
print(my_var)

print(my_var + my_var)

3
100
200

In [6]:
print(my_var)
print(test_var)

100
9

In [7]:
# Increase the value by 3
my_var = my_var + 3

# Print the value assigned to my_var
print(my_var)

103

In [8]:
# Create variables
num_years = 4
days_per_year = 365 
hours_per_day = 24
mins_per_hour = 60
secs_per_min = 60

# Calculate number of seconds in four years
total_secs = secs_per_min * mins_per_hour * hours_per_day * days_per_year * num_years
print(total_secs)

126144000

In [9]:
# Update to include leap years
days_per_year = 365.25

# Calculate number of seconds in four years
total_secs = secs_per_min * mins_per_hour * hours_per_day * days_per_year * num_years
print(total_secs)

126230400.0

In [10]:
print(hours_per_day)

24

In [11]:
print("Hello, world!")

# DO NOT REMOVE: Mark this question as completed
q1.check()

Hello, world!

NameError: name 'q1' is not defined

In [12]:
print("Good morning!")
print("I am learning how to code :D")

Good morning!
I am learning how to code :D

In [13]:
# TODO: Change the message
print("Your message here!")

# DO NOT REMOVE: Mark this question as completed 
q2.check()

Your message here!

NameError: name 'q2' is not defined

In [15]:
# Load the data from the titanic competition
import pandas as pd
titanic_data = pd.read_csv("../input/titanic/train.csv")

# Show the first five rows of the data
titanic_data.head()

ModuleNotFoundError: No module named 'pandas'

In [16]:
# Number of total passengers
total = len(titanic_data)
print(total)

# Number of passengers who survived
survived = (titanic_data.Survived == 1).sum()
print(survived)

# Number of passengers under 18
minors = (titanic_data.Age < 18).sum()
print(minors)

NameError: name 'titanic_data' is not defined